# Python
__pycache__/
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
lib64/
bin/
include/
Pipfile
Pipfile.lock

# Database
chat_logs/
shynder.db
