.hamburger {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 10px;
    padding: 4px;
    cursor: pointer;
    /* width: 300px;
    height: 300px; */

  }
  *{
    font-family: rubik;
  }
  body{
    background-color: #ccbcf4;
    font-family: rubik;
  }
  .closeIcon {
    display: none;
  }

  .menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.2s;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: white;
    color: #6f59aa;
    list-style: none;
    padding-top: 500px;
    width: 530px;
    height: 100vh;
  }

  .showMenu {
    transform: translateX(0);
  }
.hamburger img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  scale: 1;
}
i{
  border: none;
}

.menuItem{
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px solid #6f59aa;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  font-family: rubik;
  font-weight: 500;
}

.content{
  margin: 0 auto;
  width: 500px;
  height:100vh;
  display: flex;
  align-items:center;  
  flex-direction: column;

}
button{
  width: 300px;
  font-size: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  font-size: 24px;
}
.form *{
  padding: 10px;}
input{
  font-size: 20px;
}
.password{
  display: None;
}

.closeIcon{
  z-index: 102;
}