* {
  margin: 0;
  padding: 0;

}

.container{
overflow: hidden;
}

.hamburger {
  z-index: 100;
  top: 10px;
  left: 10px;
  padding: 4px;
  cursor: pointer;
  height: 85px;
}
body{
  background-color: #ccbcf4;
}
.closeIcon {
  display: none;
  position: fixed;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: white;
  color: #6f59aa;
  list-style: none;
  padding-top: 28%;
  width: 35.2%;
  height: 100vh;
}

.showMenu {
  transform: translateX(0);
}
.hamburger img{
/* height: 100%;
width: 100%; */
object-fit: cover;
z-index: 100;
scale: 1;
}
i{
border: none;
}

.menuItem{
padding: 20px;
font-size: 20px;
border-bottom: 1px solid #6f59aa;
text-align: center;
cursor: pointer;
transition: 0.2s;
font-family: rubik;
font-weight: 500;
}

.container {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

.chats_tab {
  width: 35%;
  height: 100vh;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  /* margin-top: 110px; */
  table-layout: fixed;
  border: 2px solid #6f59aa;
  font-family: rubik;
  font-weight: 500;
}

.chats{
  overflow: auto;
  height: 90%;
}

.line {
  border: 1px solid #6f59aa;
}

.chat {
display: flex;
padding-bottom: 1%;
border-bottom: 2px solid #6f59aa;
font-family: rubik;
font-weight: 500;
cursor: pointer;
}

.chat:hover {
background-color: #9A7BEC!important;
}

.chat_info {
  padding-left: 4%;
  padding-top: 4%;
  width: 35%;
  font-family: rubik;
  font-weight: 500;
}
/* 
.chat_avatar {
padding-top: 1%;
padding-left: 1%;
width: 15%;
height: 15%;
border-radius: 50%;
} */

.messages_tab {
  width: 64.85%;
  height: 100vh;
  border-collapse: collapse;
  table-layout: fixed;
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: rubik;
  font-weight: 500;
  /* border: 2px solid #000; */
}

.name{
  font-size: 23px;
  font-family: rubik;
  font-weight: 500;
}

.send_message {
  display: flex;
  width: 100%;
  height: 7%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 2px solid #6f59aa;
  position: fixed;
  bottom: 0;
  font-family: rubik;
  font-weight: 500;
}

.send_button {
  size: 100%;
  margin-right: 1%;
}

.message_input {
  width: 59.25%;
  height: 100%;
  border: none;
  padding-left: 1%;
  font-family: rubik;
  font-weight: 500;
  font-size: 15px;
}

.messages{
  overflow: auto;
  scroll-behavior: auto;
  overflow-anchor: auto;
  height: 91%;
}

.message{
  width: 40%;
  height: 100%;
  border: none;
  background-color: #6f59aa;
  color: white;
  font-family: rubik;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.your_message {
display: flex;
justify-content: flex-end;
padding-right: 1%;
padding-top: 1%;
font-family: rubik;
font-weight: 500;
}

/* .your_message .message_bubble {
background-color: #6f59aa;
color: white;
border-radius: 10px;
padding: 10px;
max-width: 70%;
}

.your_message .message_time {
align-self: flex-end;
font-size: 12px;
color: #6f59aa;
margin-top: 5px;
} */

.your_message_info {
display: inline-flex;
background-color: #6f59aa;
color: white;
border-radius: 10px;
padding: 10px;
font-family: rubik;
font-weight: 500;
font-size: 15px;
max-width: 70%;
min-height: 30px;
/* min-width: 10%; */
word-break: break-all;
overflow-wrap: break-word;

  .your_text{
    color: white;
    width: 95%;
  }

  .your_time {
    align-self: flex-end;
    font-size: 11px;
    color: #fff;
    margin-top: 5px;
    right: 1%;
    min-width: 35px;
    /* width: 30%; */
  }
}

/* .your_msg_avatar {
padding-top: 1%;
padding-left: 1%;
width: 6%;
height: 6%;
border-radius: 50%;
float: right;
} */

.other_message {
display: flex;
padding-left: 1%;
padding-top: 1%;
font-family: rubik;
font-weight: 500;
}

/* .other_message .message_bubble {
background-color: #9A7BEC;
color: white;
border-radius: 10px;
padding: 10px;
max-width: 70%;
}

.other_message .message_time {
align-self: flex-end;
font-size: 12px;
color: #6f59aa;
margin-top: 5px;
} */

.other_message_info {
display: inline-flex;
background-color: #9A7BEC;
color: white;
border-radius: 10px;
padding: 10px;
font-family: rubik;
font-weight: 500;
font-size: 15px;
max-width: 70%;
/* min-width: 20%; */
word-break: break-all;
overflow-wrap: break-word;

  .other_text{
    color: white;
    width: 95%;
  }

  .other_time {
    align-self: flex-end;
    font-size: 11px;
    color: #fff;
    margin-top: 5px;
    right: 1%;
    min-width: 35px;
    /* width: 30%; */
  }
}

/* .other_msg_avatar {
padding-top: 1%;
padding-left: 0.5%;
margin-right: 1%;
width: 6%;
height: 6%;
border-radius: 50%;
float: left;
} */

@media only screen and (max-width: 500px) {
  .hamburger {
    z-index: 100;
    top: 10px;
    left: 10px;
    padding: 4px;
    cursor: pointer;
    height: 85px;
  }
  body{
    background-color: #ccbcf4;
  }
  .closeIcon {
    display: none;
    position: fixed;
    width: 95%;
  }
  
  .menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.2s;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: white;
    color: #6f59aa;
    list-style: none;
    padding-top: 28%;
    width: 100%;
    height: 100vh;
  }
  
  .showMenu {
    transform: translateX(0);
  }
  .hamburger img{
  /* height: 100%;
  width: 100%; */
  object-fit: cover;
  z-index: 100;
  scale: 1;
  }
  i{
  border: none;
  }
  
  .menuItem{
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px solid #6f59aa;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  font-family: rubik;
  font-weight: 500;
  }

  .container {
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .chats_tab {
    width: 100%;
    /* height: 100%; */
    margin-top: 0;
  }

  .chats{
    height: 28.3%;
  }

  .messages_tab {
    width: 100%;
    height: 57%;
    border: 2px solid #6f59aa;
    /* position: static; */
  }

  .send_message {
    width: 100%;
    height: 7vh;
    position: static;
  }

  .message_input {
    width: 90%;
    height: 100%;
    border: none;
    padding-left: 1%;
    font-family: rubik;
    font-weight: 500;
    font-size: 15px;
  }

  .messages {
    height: 87.6%;
  }

  .your_message_info,
  .other_message_info {
    max-width: 90%;
  }

  /* .your_msg_avatar,
  .other_msg_avatar {
    width: 10%;
    height: 10%;
  } */
}