.hamburger {
  position: fixed;
  z-index: 100;
  top: 10px;
  left: 10px;
  padding: 4px;
  cursor: pointer;
}
*{
  font-family: rubik;
}
body{
  background-color: #fdfdfd;
  font-family: rubik;
}
.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: white;
  color: #6f59aa;
  list-style: none;
  padding-top: 500px;
  width: 530px;
  height: 100vh;
}

.showMenu {
  transform: translateX(0);
}
.hamburger img{
height: 100%;
width: 100%;
object-fit: contain;
scale: 1;
}
i{
border: none;
}

.menuItem{
padding: 20px;
font-size: 20px;
border-bottom: 1px solid #6f59aa;
text-align: center;
cursor: pointer;
transition: 0.2s;
font-family: rubik;
font-weight: 500;
}


@keyframes fallRightAnimation {
  0% {
    transform: translateX(0) translateY(-200px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) translateY(500px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fallLeftAnimation {
  0% {
    transform: translateX(0) translateY(-200px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) translateY(500px) rotate(-45deg);
    opacity: 0;
  }
}

.fall-right-animation {
  animation: fallRightAnimation 1s ease forwards;
}

.fall-left-animation {
  animation: fallLeftAnimation 1s ease forwards;
}



.card {
  position: absolute;
  left: 38%;
  /* top: 7%; */
  margin-top: 300px;
  width: 28%;
  height: 68%;
  border-radius: 15px;
  background-color: #CCBCF4; 
  border: 1px solid #6f59aa;
}   

.container{
  overflow: hidden;
}
.homepagedesctop {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #f9f9fa;
}
.homepage {
  top: 0;
  left: 0;
  width: 100%;/* 100% of the viewport width */
  height: 100%; /* 100% of the viewport height */
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: black;
}

.usernameDiv {
  gap: 10px;
  top: 1.5%;
  left: 3%;
  width: 94%;
  height: 22%;
  display: flex;
  padding: 1%;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.username {
  color: #6F59AA;
  width: 300px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  
}
.matchDiv {
  gap: 10px;
  top: 51.5%;
  left: 2.8%;
  width: 94%;
  height: 25%;
  padding: 1%;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  flex-direction: column;
  overflow-y: auto;
  word-break: break-all;
  overflow-wrap: break-word;
}
.interestText{
  color: #6F59AA;
  font-family: rubik;
  font-weight: 500;
  font-size: 20px;
}
.subCategoryText{
  color: #6F59AA;
  font-family: rubik;
  font-weight: 500;
  font-size: 17px;
}
.descriptionDiv {
  gap: 10px;
  top: 25%;
  left: 2.8%;
  width: 94%;
  height: 25%;
  /* display: flex; */
  padding: 1%;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  /* justify-content: center; */
  background-color: rgba(255, 255, 255, 1);
  overflow-y: auto;
  word-break: break-all;
  overflow-wrap: break-word;
}
.descriptionText {
  color: #6F59AA;
  font-family: rubik;
  font-weight: 500;
  font-size: 17px;
}

.buttonHeart {
  width: 38%;
  height: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100px;
  background-color: white;
  position: absolute;
  top: 81%;
  left: 6%;
}


.likeText {
  color: rgba(231, 14, 14, 1);
  font-size: 45px; 
  font-weight: bold;
}

.buttonCross {
  width: 38%;
  height: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100px;
  background-color: white;
  position: absolute;
  top: 81%;
  right: 6%;
}


.crossText {
  color: rgba(231, 14, 14, 1);
  font-size: 45px; 
  font-weight: bold;
}
.frame8 {
  gap: 10px;
  top: 17px;
  left: 181px;
  width: 174px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.teen21 {
  width: 154px;
  height: 136px;
  border-radius: 32px;
}

.frame2 {
  gap: 10px;
  top: 282.2701110839844px;
  width: 330px;
  display: flex;
  padding: 27px 10px 30px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.text18 {
  color: rgb(17, 0, 0);
  width: 300px;
  height: auto;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;         
}
.button2 {
  gap: 10px;
  top: 207px;
  left: 0px;
  width: 446px;
  height: 85px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(201, 121, 204, 1);
}
.text19 {
  color: rgba(0, 0, 0, 1);
  width: 375px;
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.button3 {
  gap: 10px;
  top: 289px;
  left: 0px;
  width: 446px;
  height: 85px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(202, 122, 204, 1);
}
.text21 {
  top: 10px;
  left: 97px;
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle8 {
  top: 0px;
  left: 446px;
  width: 22px;
  height: 1024px;
  position: absolute;
}

/* .buttonHeart,
.buttonCross {
  width: 160px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100px;
  background-color: white;
  position: absolute;
} */

.buttonHeart:hover,
.buttonCross:hover {
  background-color: #9A7BEC;
  cursor: pointer;
}

.likeText,
.crossText {
  color: rgba(231, 14, 14, 1);
  font-size: 45px;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 10px;
    padding: 4px;
    cursor: pointer;
  }
  *{
    font-family: rubik;
  }
  body{
    background-color: #ccbcf4;
    font-family: rubik;
  }
  .closeIcon {
    display: none;
  }
  
  .menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.2s;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: white;
    color: #6f59aa;
    list-style: none;
    padding-top: 200px;
    width: 100%;
    height: 100vh;
  }
  
  .showMenu {
    transform: translateX(0);
  }
  .hamburger img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  scale: 1;
  }
  i{
  border: none;
  }
  
  .menuItem{
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px solid #6f59aa;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  font-family: rubik;
  font-weight: 500;
  }

  .card {
    position: absolute;
    left: 10%;
    top: 11%;
    width: 78%;
    height: 57%;
    border-radius: 15px;
    background-color: #CCBCF4; 
  }
}