.hamburger {
  position: fixed;
  z-index: 100;
  top: 10px;
  left: 10px;
  padding: 4px;
  cursor: pointer;
}
*{
  font-family: rubik;
}
body{
  background-color: #ccbcf4;
  font-family: rubik;
}
.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: white;
  color: #6f59aa;
  list-style: none;
  padding-top: 500px;
  width: 530px;
  height: 100vh;
}

.showMenu {
  transform: translateX(0);
}
.hamburger img{
height: 100%;
width: 100%;
object-fit: contain;
scale: 1;
}
i{
border: none;
}

.menuItem{
padding: 20px;
font-size: 20px;
border-bottom: 1px solid #6f59aa;
text-align: center;
cursor: pointer;
transition: 0.2s;
font-family: rubik;
font-weight: 500;
}


@keyframes fallRightAnimation {
  0% {
    transform: translateX(0) translateY(-200px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) translateY(500px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fallLeftAnimation {
  0% {
    transform: translateX(0) translateY(-200px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) translateY(500px) rotate(-45deg);
    opacity: 0;
  }
}

.fall-right-animation {
  animation: fallRightAnimation 1s ease forwards;
}

.fall-left-animation {
  animation: fallLeftAnimation 1s ease forwards;
}



.homepagedesctop-rectangle1 {
  position: absolute;
  left: 40%;
  top: 130px;
  width: 414px;
  height: 700px;
  border-radius: 15px;
  background-color: #CCBCF4; 
}   

.homepagedesctop-container{
  overflow: hidden;
}
.homepagedesctop-homepagedesctop {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #f9f9fa;
}
.homepagedesctop-homepage {
  top: 0;
  left: 0;
  width: 100%;/* 100% of the viewport width */
  height: 100%; /* 100% of the viewport height */
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #fdfdfd;
}

.homepagedesctop-frame7 {
  gap: 10px;
  top: 15px;
  left: 11px;
  width: 390px;
  height: 170px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.homepagedesctop-text {
  color: #6F59AA;
  width: 300px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  
}
.homepagedesctop-frame4 {
  gap: 10px;
  top: 390px;
  left: 11px;
  width: 390px;
  height: 170px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.homepagedesctop-text06 {
  color: #6F59AA;
  width: 400px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagedesctop-frame20 {
  gap: 10px;
  top: 200px;
  left: 11px;
  width: 390px;
  height: 170px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.homepagedesctop-text20 {
  color: #6F59AA;
  width: 400px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.homepagedesctop-button {
  width: 160px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100px;
  background-color: white;
  position: absolute;
  top: 580px;
  left: 25px;
}


.homepagedesctop-text08 {
  color: rgba(231, 14, 14, 1);
  font-size: 45px; 
  font-weight: bold;

}

.homepagedesctop-button1 {
  width: 160px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100px;
  background-color: white;
  position: absolute;
  top: 580px;
  left: 231px;
}


.homepagedesctop-text13 {
  color: rgba(231, 14, 14, 1);
  font-size: 45px; 
  font-weight: bold;
}
.homepagedesctop-frame8 {
  gap: 10px;
  top: 17px;
  left: 181px;
  width: 174px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.homepagedesctop-teen21 {
  width: 154px;
  height: 136px;
  border-radius: 32px;
}

.homepagedesctop-frame2 {
  gap: 10px;
  top: 282.2701110839844px;
  width: 330px;
  display: flex;
  padding: 27px 10px 30px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.homepagedesctop-text18 {
  color: rgb(17, 0, 0);
  width: 300px;
  height: auto;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;         
}
.homepagedesctop-button2 {
  gap: 10px;
  top: 207px;
  left: 0px;
  width: 446px;
  height: 85px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(201, 121, 204, 1);
}
.homepagedesctop-text19 {
  color: rgba(0, 0, 0, 1);
  width: 375px;
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagedesctop-button3 {
  gap: 10px;
  top: 289px;
  left: 0px;
  width: 446px;
  height: 85px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(202, 122, 204, 1);
}
.homepagedesctop-text21 {
  top: 10px;
  left: 97px;
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagedesctop-rectangle8 {
  top: 0px;
  left: 446px;
  width: 22px;
  height: 1024px;
  position: absolute;
}

.homepagedesctop-button,
.homepagedesctop-button1 {
  width: 160px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100px;
  background-color: white;
  position: absolute;
}

.homepagedesctop-button:hover,
.homepagedesctop-button1:hover {
  background-color: #9A7BEC;
  cursor: pointer;
}

.homepagedesctop-text08,
.homepagedesctop-text13 {
  color: rgba(231, 14, 14, 1);
  font-size: 45px;
  font-weight: bold;
}
